@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
  position: relative;
}

.main {
  width: 90%;
  margin-left: 5%;

  height: 90vh;
  margin-top: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightsalmon; */
  flex-direction: column;
}

.header {
  text-align: center;
  /* background-color: aliceblue; */
}

.registerInp {
  border: 1px solid;
}

.registerLabel {
  /* background-color: aqua; */
  width: 10vw;
  height: 100px;
}
