@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
    --main-primary-color: rgb(67, 149, 222);
    --maxRowFieldWidth: 10vw;
    --minRowFiledWidth: 4vw;
    --medRowFiledWidth: 6vw;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    position: relative;
}

.main {
    width: 90%;
    margin-left: 5%;

    height: 90vh;
    margin-top: 5vh;

    position: absolute;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: lightsalmon; */
    flex-direction: column;
}

.header {
    text-align: center;
    /* background-color: aliceblue; */
}

.registerLabel {
    /* background-color: aqua; */
    width: 10vw;
    height: 100px;
}

.regForm input {
    /* background-color: red;  */
    display: inline-block;
    width: 150px;
    height: 2vh;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
}

.regForm label {
    display: inline-block;
    /* background-color: aquamarine; */
    width: 100px;
    height: 2vh;
}

.regForm button {
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: var(--main-primary-color);
    border: 1px solid var(--main-primary-color);
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100px;
    height: 4vh;
}
.errorBox {
    margin: 5px;
    text-align: center;
    color: red;
}

.btnCenter {
    display: flex;
    justify-content: center;
}

aside button {
    background-color: var(--main-primary-color);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 10px 7px 20px 0px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}
/* spread buttons to max width */
aside {
    width: 50vw;
    /* background-color: lightgrey; */
}

.inpSeria {
    width: 2vw;
}

.inpGrupa {
    /* background-color: blue; */
    width: var(--maxRowFieldWidth);
}

.inpM {
    width: var(--minRowFiledWidth);
}

.inpKg {
    width: var(--medRowFiledWidth);
}

.inpEx {
    width: var(--maxRowFieldWidth);

    /* background-color: blue; */
}

.inpPow {
    width: var(--medRowFiledWidth);
}

.rowBlock {
    padding: 10px 0px 10px -2px;
    display: block;
    justify-content: center;

    /* background-color: bisque; */
}
.row {
    display: block;
}

.row input {
    vertical-align: middle;
    height: 2vh;
    margin: 0.2vh 0.1vw 0.2vh 0vw;
}

.rowTotal {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    /* background-color: red; */
    width: var(--minRowFieldWidth);
}
.mainBtn {
    font-size: 18px;
    color: white;
    background-color: var(--main-primary-color);
    border: 1px solid var(--main-primary-color);
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100px;
    height: 5vh;
}

.btnCenter button {
    width: 150px;
}

.btnLogout {
    font-size: 18px;
    color: white;
    background-color: var(--main-primary-color);
    border: 1px solid var(--main-primary-color);
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100px;
    height: 5vh;
}

.divLogout {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.rowBtn {
    font-size: 10px;
    color: white;
    background-color: var(--main-primary-color);
    border: 1px solid var(--main-primary-color);
    border-radius: 5px;
    /* margin: 5px; */
    /* margin-top: 15px; */
    width: 60px;
    height: 2vh;
    margin: 0 10px 2px 0;
}

.rowBtnContainer {
    /* background-color: blue; */
}

.dataSelector {
    /* background-color: red; */
    margin: 10px;
    vertical-align: middle;
    margin: 20px;
}

.dataTime {
    height: 4vh;
    margin: 0 10px 0 0;
    display: flex;
    /* background-color: blueviolet; */
}

.dataTime div {
    /* background-color: antiquewhite; */
    display: flex;
    width: 8vw;
    margin: 0 10px 0 0;
}

.dataTime p {
    /* line-height: 28px; */
    vertical-align: middle;
    /* background-color: red; */
    margin-right: 20px;
    margin: 10px 10px 10px 0;
}

.dataTime input {
    /* background-color: red; */
    border: 0;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}
